body {
    background-color: white;
    color: black;
    font-family: 'Roboto Serif', sans-serif;

}

.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}


.container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    flex: 1;
}

.container div img {
    object-fit:cover;
    width: 100%;
    height: 200px;
}

.addingExtra {
    margin: 2% 0;
    text-align: center;
}

/* secondSection1 {
    width: 50%;
}

secondSection2 {
    width: 30%;
} */

.firstImage {
    width: 90%;;
    height: 300px;
    object-fit: cover;


}

.button a{
    background-color: #ffbc0d;
    border-radius: 5px;
    padding: 2% 4%;
    text-decoration: none;
    color: black
    
}

.footer {
    background-color: rgb(68, 68, 68);
    height: 100px;
    text-align: center;
}

.footer p {
    padding: 3%;
    color: white;
}



/* secondImage {
    width: 80%;
} */

@media screen and (max-width:780px){
    .container{
        flex-direction: column;
    }    
}